.todoView {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;

  cursor: pointer;

  &__taskTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__deleteButton {
    color: red;
    font-weight: 800;
  }
}
